/* The following styles are for the reading page.
Every selector in this file should be prefixed with .read */
.read {
  padding: 1rem;
}

// chapter number drop cap
.read .drop-cap {
  // float: left;

  // font-size: 3em;
  // line-height: 1;
  // text-indent: 0;
  // padding-right: 0.5rem;
  // font-style: normal;
}

/* ===== Elements ===== */

// Verse number. More: https://ubsicap.github.io/usx/elements.html#verse
.read .v {
  display: inline-block;
  vertical-align: super;
  font-size: xx-small;
  color: $color-text-extralight;
  padding: 0 .2em;
}

/* ===== Introductions ===== */

// # denotes the title level or relative weighting.
// Introduction major title. More: https://ubsicap.github.io/usx/parastyles.html#imt
.read .imt {}

.read .imt1 {}

.read .imt2 {}

.read .imt3 {}

.read .imt4 {}

// # denotes the title level or relative weighting.
// Introduction section heading. More: https://ubsicap.github.io/usx/parastyles.html#is
.read .is {}

// Introduction paragraph. More: https://ubsicap.github.io/usx/parastyles.html#ip
.read .ip {}

// Indented introduction paragraph. More: https://ubsicap.github.io/usx/parastyles.html#ipi
.read .ipi {}

// Introduction flush left (margin) paragraph. More: https://ubsicap.github.io/usx/parastyles.html#im
.read .im {}

// Indented introduction flush left (margin) paragraph. More: https://ubsicap.github.io/usx/parastyles.html#imi
.read .imi {}

// Introduction quote from scripture text paragraph. More: https://ubsicap.github.io/usx/parastyles.html#ipq
.read .ipq {}

// Introduction flush left (margin) quote from scripture text paragraph. More: https://ubsicap.github.io/usx/parastyles.html#imq
.read .imq {}

// Introduction right-aligned paragraph. More: https://ubsicap.github.io/usx/parastyles.html#ipr
.read .ipr {}

// # represents the level of indent (i.e. iq1, iq2, iq3 etc.)
// Introduction poetic line. More: https://ubsicap.github.io/usx/parastyles.html#iq
.read .iq {}

// Introduction blank line. More: https://ubsicap.github.io/usx/parastyles.html#ib
.read .ib {}

// # represents the level of indent
// Introduction list item. More: https://ubsicap.github.io/usx/parastyles.html#ili
.read .ili {}

// Introduction outline title.  More: https://ubsicap.github.io/usx/parastyles.html#iot
.read .iot {}

// # represents the outline (indent) level
// Introduction outline entry.  More: https://ubsicap.github.io/usx/parastyles.html#io
.read .io {}

// Introduction explanatory or bridge text. More: https://ubsicap.github.io/usx/parastyles.html#iex
.read .iex {}

// # represents a portion of the title, with the lesser emphasis (relative weighting) being on the higher numbers.
// Introduction major title ending. More: https://ubsicap.github.io/usx/parastyles.html#imte
.read .imte {}

// Introduction end. More: https://ubsicap.github.io/usx/parastyles.html#ie
.read .ie {}

/* ===== Titles and headings ===== */

// # represents a portion of the title, with the lesser emphasis (relative weighting) being on the higher numbers.
// Main title. More: https://ubsicap.github.io/usx/parastyles.html#mt
.read .mt {}

.read .mt1 {}

.read .mt2 {}

.read .mt3 {}

// Main title at introduction ending. More: https://ubsicap.github.io/usx/parastyles.html#mte
.read .mte {}

// The chapter “label” to be used when the chosen publishing presentation will render chapter divisions as headings (not drop cap numerals). More: https://ubsicap.github.io/usx/parastyles.html#cl
.read .cl {}

// Chapter description. More: https://ubsicap.github.io/usx/parastyles.html#cd
.read .cd {}

// # represents the level of division.
// Major section heading. More: https://ubsicap.github.io/usx/parastyles.html#ms
.read .ms {}

// Major section reference range. More: https://ubsicap.github.io/usx/parastyles.html#mr
.read .mr {}

// # represents the level of division.
// Section heading. More: https://ubsicap.github.io/usx/parastyles.html#s
.read .s {}

.read .s1 {}

.read .s2 {}

// Section reference range. More: https://ubsicap.github.io/usx/parastyles.html#sr
.read .sr {}

// Parallel passage reference(s). More: https://ubsicap.github.io/usx/parastyles.html#r
.read .r {}

// Descriptive title (or “Hebrew subtitle”). More: https://ubsicap.github.io/usx/parastyles.html#d
.read .d {}

// Speaker identification (e.g. Job and Song of Songs). More: https://ubsicap.github.io/usx/parastyles.html#sp
.read .sp {}

// # represents the level of division being marked
// Semantic division (semantic space). More: https://ubsicap.github.io/usx/parastyles.html#sd
.read .sd {}

/* ===== Paragraphs =====*/

// Normal paragraph. More: https://ubsicap.github.io/usx/parastyles.html#p
.read .p {
  margin-block-start: 1em;
  max-width: 60ch;
}

// Margin paragraph. More: https://ubsicap.github.io/usx/parastyles.html#m
.read .m {}

// Opening of an epistle / letter. More: https://ubsicap.github.io/usx/parastyles.html#po
.read .po {}

// Right-aligned paragraph. More: https://ubsicap.github.io/usx/parastyles.html#pr
.read .pr {}

// Closure of an epistle / letter. More: https://ubsicap.github.io/usx/parastyles.html#cls
.read .cls {}

// Embedded text opening. More: https://ubsicap.github.io/usx/parastyles.html#pmo
.read .pmo {}

// Embedded text paragraph. More: https://ubsicap.github.io/usx/parastyles.html#pm
.read .pm {}

// Embedded text closing. More: https://ubsicap.github.io/usx/parastyles.html#pmc
.read .pmc {}

// Embedded text refrain. More: https://ubsicap.github.io/usx/parastyles.html#pmr
.read .pmr {}

// # represents the level of indent.
// Indented paragraph. More: https://ubsicap.github.io/usx/parastyles.html#pi
.read .pi {}

.read .pi1 {}

// Indented flush left paragraph. More: https://ubsicap.github.io/usx/parastyles.html#mi
.read .mi {}

// Centered paragraph. More: https://ubsicap.github.io/usx/parastyles.html#pc
.read .pc {}

// *** Use is strongly discouraged ***
// # represents the level of indent
// Indented paragraph with hanging indent. More: https://ubsicap.github.io/usx/parastyles.html#ph
.read .ph {}

/* ===== Poetry ===== */

// # represents the level of indent
// Poetic line. More: https://ubsicap.github.io/usx/parastyles.html#q
.read .q {}

.read .q1 {}

.read .q2 {}

// Right-aligned poetic line. More: https://ubsicap.github.io/usx/parastyles.html#qr
.read .qr {}

// Centered poetic line. More: https://ubsicap.github.io/usx/parastyles.html#qc
.read .qc {}

// Acrostic heading. More: https://ubsicap.github.io/usx/parastyles.html#qa
.read .qa {}

// # represents the level of indent
// Embedded text poetic line. More: https://ubsicap.github.io/usx/parastyles.html#qm
.read .qm {}

// Hebrew note. More: https://ubsicap.github.io/usx/parastyles.html#qd
.read .qd {}

// Blank line. More: https://ubsicap.github.io/usx/parastyles.html#b
.read .b {
  padding-block-start: 1em;
}

/* ===== Special text ====== */

// Translator’s addition. More: https://ubsicap.github.io/usx/charstyles.html#add
.read .add {}

// Quoted book title. More: https://ubsicap.github.io/usx/charstyles.html#bk
.read .bk {}

// Name of God (name of deity). More: https://ubsicap.github.io/usx/charstyles.html#nd
.read .nd {}

// Ordinal number ending (i.e. in 1st — 1<char style="ord">st</char>). More: https://ubsicap.github.io/usx/charstyles.html#ord
.read .ord {}

// Used to indicate the acrostic letter within a poetic line. More: https://ubsicap.github.io/usx/charstyles.html#qac
.read .qac {}

// Used for the expression “Selah” commonly found in Psalms and Habakkuk. More: https://ubsicap.github.io/usx/charstyles.html#qs
.read .qs {}

// Quoted text. More: https://ubsicap.github.io/usx/charstyles.html#qt
.read .qt {}

// Inline quotation reference(s). Quoted text. More: https://ubsicap.github.io/usx/charstyles.html#rq
.read .rq {}

// Signature of the author of an epistle. Quoted text. More: https://ubsicap.github.io/usx/charstyles.html#sig
.read .sig {}

// Transliterated (or foreign) word(s). More: https://ubsicap.github.io/usx/charstyles.html#tl
.read .tl {}

// Words of Jesus. More: https://ubsicap.github.io/usx/charstyles.html#wj
.read .wj {}

/* ===== Character styling ===== */

// Emphasis text. More: https://ubsicap.github.io/usx/charstyles.html#it
.read .em {}

// Bold text. More: https://ubsicap.github.io/usx/charstyles.html#bd
.read .bd {}

// Bold + Italic text. More: https://ubsicap.github.io/usx/charstyles.html#bdit
.read .bdit {}

// Italic text. More: https://ubsicap.github.io/usx/charstyles.html#it
.read .it {}

// Normal text. More: https://ubsicap.github.io/usx/charstyles.html#no
.read .no {}

// Small-cap text. More: https://ubsicap.github.io/usx/charstyles.html#sc
.read .sc {}

// Superscript text. More: https://ubsicap.github.io/usx/charstyles.html#sup
.read .sup {}

// Why is this a class name? /chapter/GEN.intro?version=01b29f4b342acc35-01
.read .usfm {}