:root {
  font-size: 62.5%;
}
body {
  font-family: $font-family-sans;
  font-size: 1.6rem;
  color: $color-text-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  color: $color-link;
  &:visited {
    color: $color-link-visited;
  }
  &:focus {
    outline: none;
    text-decoration-thickness: 0.3em;
    text-decoration-color: $color-focused;
    text-decoration-skip-ink: none;
  }
}
