@mixin barLeft {
  /* Adds an accent bar to the left of an element via ::before
  example: .myDiv { @include barLeft } */
  position: relative;
  overflow: hidden;
  &::before {
    transition: width 0.1s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0.3rem;
    background-color: $color-primary-500;
  }
}

@mixin barLeftGrow {
  &::before {
    width: 0.4rem;
  }
}

@mixin shadow {
  box-shadow: 0 0.2rem 0.8rem rgba(93, 39, 58, 0.11);
}

@mixin focusShadow {
  transition: all 0.1s ease;

  &:focus,
  &:focus-within {
    outline: none;
    box-shadow: 0 0 0 0.3rem $color-focused !important;
  }
}

/* MEDIA QUERIES */
// Hover styles
@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

/* @include inside a <ul> or <ol> to remove the default look */
@mixin unstyledList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* @include inside an <a> to make it act like plain text */
@mixin unstyledLink {
  text-decoration: none;
  color: inherit;
}
