$color-primary-100: #f4f1f2;
$color-primary-500: #b43161;
$color-primary-600: #812949;
$color-primary-700: #5D273A;

$color-text-dark: #111;
$color-text-normal: #444444;
$color-text-light: #7f828f;
$color-link: #b43161;
$color-link-visited: #7a108f;

$color-border-light: $color-primary-100;

$color-focused: rgba(24, 136, 211, 0.5);

$border-radius-small: 0.3rem;
